<html>
<head></head>
<body><h1>trail</h1>
    <form action=''> 
    Model :<input type="text" name="model" required><br>
    Engine Size :<input type="text" name="size" required><br>        
    Cylinder :<input type="text" name="cylinder" required><br>
    Fuel type :<input type="text" name="fuel" required><br>
    Fuel Consumption City(L/100 km) :<input type="text" name="model" required><br>
    Fuel Consumption Hwy(L/100 km) :<input type="text" name="model" required><br>
    Fuel Consumption Comb(L/100 km) :<input type="text" name="model" required><br>
    Fuel Consumption Comb(mpg) :<input type="text" name="model" required><br>
    <input type="submit">
    </form>
</body>
</html>


